* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  background-color: black;
}

header a {
  color: black;
  text-decoration: none;
}
ul {
  display: flex;
  margin: auto;
  padding: 10px;
}
li {
  margin: auto;
}

li a {
  display: block;
  margin: auto;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.li_bund {
  list-style-type: none;
}

.dropdown_indhold {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 1;
  right: 490px;
}

.dropdown_indhold a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  display: block;
}

/* body forside {
} */
.background_img {
  background-image: url(../img/baggrund_forside.webp);
  background-size: 300%;
  background-repeat: no-repeat;
}

.vertical_text {
  white-space: nowrap;
  height: 100vh;
  display: flex;
  margin: 1px auto;
  justify-content: center;
}

footer {
  text-align: center;
}

/* Portfolio side */

.grid_portfolio {
  text-align: center;
}

.temaer {
  margin: 40px auto;
  max-width: 375px;
  padding-bottom: 10%;
}
.temaer img {
  max-width: 375px;
  max-height: 205px;
}
.temaer h4 {
  margin-top: 50px;
}

.grid_portfolio a {
  display: block;
  text-decoration: none;
}

/* portfolio undersider */

.beskrivelse {
  margin: 40px 0;
  padding: 50px;
  max-width: 800px;
}

.grid_undersite {
  margin: 20px;
}

.tekst_undersite {
  padding: 30px;
}
.tekst_undersite h2 {
  text-align: center;
  padding-bottom: 10px;
}
.tekst_undersite p {
  line-height: 1.2rem;
}
.grid_undersite img {
  max-width: 300px;
  margin: 10px auto;
}

.flex_knapper {
  display: flex;
}

.img_column {
  display: flex;
  flex-direction: column;
  margin: auto;
  object-fit: cover;
  padding: 10px 0;
}
.img_column img {
  max-width: 80%;
}
iframe {
  max-width: 100%;
}

/* om mig */

.cv_container {
  display: grid;
  padding: 50px 20px;
  margin: 10px;
}

.img_cv {
  border: 1px solid black;
  max-width: 75%;
  margin: auto;
}

.billede_navn {
  display: inline-block;
  text-align: center;
}
.fakta_flex {
  display: flex;
  justify-content: space-between;
}

.om_mig_tekst {
  display: block;
  padding: 10px 0;
}

/* DESKTOP */

@media (min-width: 800px) {
  /* forside og generelt */
  .background_img {
    background-size: 110%;
  }

  ul {
    padding: 1px;
  }
  .dropdown:hover .dropdown_indhold {
    display: block;
  }

  .grid_forside {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  nav {
    padding: 10px 0;
  }

  li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 20px;
  }
  .vertical_menu {
    background-color: transparent;
    margin: 150px auto;
    max-width: 10%;
    line-height: 5rem;
    border: none;
  }

  .vertical_text {
    text-orientation: upright;
    white-space: nowrap;
    line-height: 1;
    height: 80vh;
    display: flex;
    margin: 1px auto;
    justify-content: center;
  }

  /* portfolio */
  .grid_portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    margin: 20px auto;
  }

  /* portfolio undersider */

  .grid_undersite {
    margin: 30px;
  }
  .grid_undersite .emne_undersite_1,
  .grid_undersite .emne_undersite_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
  }
  .grid_undersite .emne_undersite_3 {
    padding: 30px;
  }

  .emne_undersite_3 h2 {
    text-align: center;
  }

  .img_column_2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .img_column_2 img {
    max-width: 90%;
  }

  .tekst_undersite {
    max-width: 600px;
    align-self: center;
  }

  .img_column img {
    max-width: 90%;
  }
  iframe {
    height: 300px;
  }

  .img_flex {
    display: flex;
  }

  /* Om mig */
  .grid_cv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .cv_container {
    display: grid;
    grid-column: 2/4;
    padding: 10px 0;
    margin: 20px;
  }

  .img_cv {
    width: 60%;
    border: 1px solid black;
  }

  .billede_navn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
  }

  .om_mig_tekst {
    padding: 20px;
  }
  .fakta_flex {
    display: flex;
    padding: 20px;
    justify-self: center;
    margin: auto;
  }

  .cv_broedtekst {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    line-height: 1.5rem;
  }
  .cv_broedtekst h5 {
    border-bottom: 2px solid black;
    padding: 10px;
  }
}
