h1,
nav a,
h2 {
  font-family: "Megrim";
}

h3,
h4,
h5,
p,
a {
  font-family: "Josefin Sans", sans-serif;
  color: black;
}

footer {
  background-color: black;
}

h1 {
  text-align: center;
  font-size: 3rem;
  padding-top: 75px;
}
h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
}

h3 {
  color: white;
  padding: 10px;
}

h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.5rem;
  font-style: italic;
}

.button {
  text-decoration: none;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  display: block;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 20px 5px;
  border: 1px solid black;
  max-width: fit-content;
}

.beskrivelse h5 {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.7rem;
}

h4:hover {
  color: #ee8806;
}

header a {
  font-size: 1.5rem;
}

li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

li a:hover {
  color: #ee8806;
  scale: 105%;
}

.li_bund a {
  text-decoration: none;
  list-style-type: none;
  color: #ee8806;
  font-size: 1.5rem;
}

.li_bund a:hover {
  border-right: 2px solid #ee8806;
  border-left: 2px solid #ee8806;
}

.vertical_text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  line-height: 1;
}

.temaer {
  background-color: #bdaf91;
  box-shadow: 0 0 20px 5px black;
}

.temaer:hover {
  scale: 105%;
}

.emne_undersite_1 {
  background-color: #bdaf91;
}

.emne_undersite_2 {
  background-color: beige;
}

.emne_undersite_3 {
  background-color: #bdaf91;
}
.emne_undersite_3 {
  text-align: center;
}

.tekst_undersite p {
  font-size: 1.5rem;
  padding: 5px;
  line-height: 1.7rem;
}

.img_column img {
  box-shadow: 0 0 15px 10px black;
}
.img_flex img {
  box-shadow: 0 0 15px 10px black;
}

.grid_cv h1 {
  font-size: 7rem;
}

.cv_container {
  background-color: #bdaf91;
  border: 1px solid black;
}

.cv_broedtekst h5 {
  border-bottom: 2px solid black;
  padding: 10px;
}

.beskrivende_tekst {
  margin: 40px;
  max-width: 80%;
}
.beskrivende_tekst h5 {
  padding: 10px 0;
}
